/*@charset "UTF-8";*/

/*@font-face {*/
/*    font-family: "iconfont";*/
/*    font-weight:normal;*/
/*    font-style: normal;*/
/*    src: url("/resources/iconfont.otf") format('opentype');*/
/*}*/


.material-symbols-outlined {
    font-family: "iconfont";
    font-weight:normal;
    font-style: normal;
    font-size: 16pt;
    /*font-size: 16px;*/
}

.search-box
{
    font-weight: lighter;
    font-size: 16px;
    background-color: white;
    /*border-radius: 4pt;*/
    margin: 0pt 0pt 10pt 0pt ;
}

.txt {
    color: cornflowerblue;
    font-size: 50px;
}
.title-label{
    font-size: 16px;
}
.header-box{
    height:20px;
    background-color: cornflowerblue;
}

.close-button{
    position: absolute;
    right: 10px;
    border: none;
    width: 16px;
    height: 16px;
    background: url("./exit.png") no-repeat;
    background-size: contain;
    color: white;
    box-shadow: none;
    transform: scale(0.7);
}

.close-button:hover{
    color: #ccc;
}

window{
    border: none;
    border-radius: 5px 5px;
    font-size: 16px;
}

decoration,.decoration{
    border: 2px cornflowerblue solid;
}

window.background{
    border: none;
}

.GtkHeaderBar,.headerbar,headerbar{
    padding: 0;
    margin: 0;
    border-radius: 0px 0px;
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
}

windowcontrols.start{
    background-color: cornflowerblue;
    color: white;
}
.windowhandle,windowhandle{
    color: white;
    background-color: cornflowerblue;
}
.windowcontrols,windowcontrols{
    background-color: cornflowerblue;
    /*visibility: hidden;*/
}
.box.start,box.start,windowcontrols.end,.windowcontrols.end,box.end,end{
    background-color: cornflowerblue;
    color:white;
}

/*headerbar*/
/*╰── windowhandle*/
/*╰── box*/
/*├── box.start*/
/*│   ├── windowcontrols.start*/
/*│   ╰── [other children]*/
/*├── [Title Widget]*/
/*╰── box.end*/
/*├── [other children]*/
/*╰── windowcontrols.end*/

.image-grid{
    background-color: white;
    /*border: 5px solid crimson;*/
}



