.txt {
    color: cornflowerblue;
    font-size: 50px;
}

.image-grid{
    background-color: white;
}

.image-box{
    border-radius: 8px;
    border: cornflowerblue solid 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("file:///C:/Users/CDX/Pictures/1b4c510fd9f9d72a4cbb3fefdd2a2834359bbb60.jpg.gif");
}